/* Custom css */
.mx-w-440{
    max-width: 340px;
}
.card-header .card-title h1:after {
    content: "-";
    float: right;
}
.card-header.collapsed .card-title h1:after {
    /* symbol for "collapsed" panels */
    content: "+";
}


